.body-container {
  height: 100vh;
  background-color: blue;
}
.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(25, 55, 70);
}
.category-style {
  display: flex;
  background-color: bisque;
  justify-content: center;
  flex-direction: row;
  word-spacing: 10px;
  width: 500px;
}
.isClickablePointer {
  cursor: pointer;
}
